@import './vareables';
@import './nav';
@import './line';
@import './title';
@import './current';
@import './footer';
@import './team';
@import './medias';

.container {
    padding: 0;
    max-width: 1265px;
}
.row {
    margin: 0;
}
